<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../cssfinal.css">
    <link rel="stylesheet" type="text/css" href="../static/cssfinal.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	
	<style>
		.modal {
			display:    none;
			position:   fixed;
			z-index:    1000;
			top:        0;
			left:       0;
			height:     100%;
			width:      100%;
			background: rgba( 255, 255, 255, .8 ) 
            url('https://thumbs.gfycat.com/ThinAnxiousChamois-small.gif') 
            50% 50% 
            no-repeat;
		}

		body.loading .modal {
			overflow: hidden;   
		}

		body.loading .modal {
			display: block;
		}
	
	.dropbtn {
  background-color: #0465ac; 
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #0000ff;
}
</style>	
</head>
  <body>
    <div>
		  <div class="messaging">
				<div class="inbox_msg">
					<div class="mesgs">
						
						<div class="msg_history">
							<div id="chatbox">
								<p class="botText"></p>
							</div>
						</div>

						<div class="type_msg">
							<div class="input_msg_write" id="userInput">	
								
								<input id="textInput" class="write_msg" type="text" name="msg" placeholder="Message">
							
								<!--<button id="buttonInput" class="msg_send_btn"  type="submit" value=""><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
							
								<button  type="button" class="audio_btn" style="float:right;">
								 <img id="playAudio" src="/static/tts.jpg" style="width: 30px; height: 30px; border-radius: 50%;" ></img>
								</button>
								
								<button  id ="buttonYT" class="youtube_btn" type="button" style="float:right;">
								<img src="/static/youtube.png" style="width: 40px; height: 40px; border-radius: 50%;"></img>
								</button>
								
								<button  id="pauseAudio" class="pause_btn" type="button" >
									<img src="/static/pause.png" style="width: 40px; height: 40px; border-radius: 50%;"></img>
								</button>-->
								<button  id ="buttonYT" class="youtube_btn" type="button" style="float:right;">
								<img src="/static/youtube.png" style="width: 40px; height: 40px; border-radius: 50%;"></img>
								</button>
								
							</div>
						</div>
		
					</div>
				</div>
			</div>						
      
			<audio id="myAudio">
				<source src="/static/hello.mp3" type="audio/mpeg">
					Your browser does not support the audio element.
			</audio>
	  
      <script>
		  $body = $("body");

			$(document).on({
				ajaxStart: function() { $body.addClass("loading");},
				ajaxStop: function() { $body.removeClass("loading");}    
			});
	  
        function getBotResponse() {
		  var dt = new Date();
		  var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
          
		  var rawText = $("#textInput").val();
          var userHtml = '<div class="outgoing_msg"> <div class="sent_msg"> <p class="botText"><span>'+ rawText + '</span></p> <span class="time_date">'+ time +'</span> </div></div>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
			var dt2 = new Date();
			var time2 = dt2.getHours() + ":" + dt2.getMinutes() + ":" + dt2.getSeconds();
            var botHtml = '<div class="incoming_msg"> <div class="incoming_msg_img"> <img src="../static/dory.jpeg" alt="sunil"> </div><div class="received_msg"><div class="received_withd_msg"> <p class="userText"><span>' + data + '</span></p><span class="time_date">'+ time2 +'</span></div></div></div>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
		
		function getYT() {
          $.ajax({ url: "/getyt" }).done(function(res) {
            var botHtml = '<iframe width="420" height="315" src="https://www.youtube.com/embed/'+res.question+'" allowfullscreen> </iframe><br><iframe width="420" height="315" src="https://www.youtube.com/embed/'+res.question2+'" allowfullscreen> </iframe><br><iframe width="420" height="315" src="https://www.youtube.com/embed/'+res.question3+'" allowfullscreen> </iframe>';
            //var botHtml = '<p>'+ res.question +' </p> <input  type="radio" name="gender" value="1"><p id="myParagraph">'+res.opt1+'</p><br><input type="radio" name="gender" value="2"> '+res.opt2+'<br><input type="radio" name="gender" value="3"> '+res.opt3+'</br><input type="radio" name="gender" value="4"> '+res.opt4+'<button onclick="myFunction()" type="button">Click Me!</button>';
			//var botHtml ='<p>'+res.question+'</p><br><p>'+res.question2+'</p><br><p>'+res.question3+'</p>';
			$("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
			
          });
        }
		
		
		function getmcq() {
          var rawText = $("#textInput").val();
          var userHtml = '<div class="outgoing_msg"> <div class="sent_msg"> <p class="botText"><span>'+ rawText + '</span></p></div></div>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.ajax({ url: "/api" }).done(function(res) {
            var botHtml = '<div class="incoming_msg"> <div class="incoming_msg_img"> <img src="../static/dory.jpeg" alt="sunil"> </div><div class="received_msg"><div class="received_withd_msg"> <p class="userText"><span>' +'Dory: The question is: <br> '+ res.question + '<br>A:'+res.opt1+'<br>B:'+res.opt2+'<br>C:'+res.opt3+'<br>D:'+res.opt4+ '</span></p></div></div></div><div style="padding-left:7%;"><div class="dropdown"><button style:" background-color:#0465ac;" class="dropbtn">Hover here to know your answer</button><div class="dropdown-content">'+res.corr+'</div></div></div>';
            //var botHtml = '<p>'+ res.question +' </p> <input  type="radio" name="gender" value="1"><p id="myParagraph">'+res.opt1+'</p><br><input type="radio" name="gender" value="2"> '+res.opt2+'<br><input type="radio" name="gender" value="3"> '+res.opt3+'</br><input type="radio" name="gender" value="4"> '+res.opt4+'<button onclick="myFunction()" type="button">Click Me!</button>';
			
			$("#chatbox").append(botHtml);
			//var html = '<p class="botText"><span>' res.corr + '</span></p>';
			//$("#chatbox").append(html);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
			
          });
        }
		
		function audio(){
			$.ajax({ url: "/audio" }).done(function(res) {
            //var botHtml = '<iframe width="420" height="315" src="https://www.youtube.com/embed/'+res.question+'" allowfullscreen> </iframe>';
            //var botHtml = '<p>'+ res.question +' </p> <input  type="radio" name="gender" value="1"><p id="myParagraph">'+res.opt1+'</p><br><input type="radio" name="gender" value="2"> '+res.opt2+'<br><input type="radio" name="gender" value="3"> '+res.opt3+'</br><input type="radio" name="gender" value="4"> '+res.opt4+'<button onclick="myFunction()" type="button">Click Me!</button>';
			//$("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
			
          });
		}
		
		function pause(){
		$.get("/stop"); 
		}
		
		$("#buttonYT").click(function(e) {
            getYT();
        });
		
		$("#playAudio").click(function(e) {
            audio();
        });
		
		$("#pauseAudio").click(function(e) {
            pause();
		});
		
		
		
	
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
				var rawText = $("#textInput").val().toLowerCase();
				if(rawText=="ask me a question"){
					getmcq();	
				}else{
					getBotResponse();
				}		
		  }
        });
        $("#buttonInput").click(function() {
		  var rawText = $("#textInput").val().toLowerCase();
		  if(rawText=="ask me a question"){
				getmcq();
		  }else{
				getBotResponse();
		  }
          
        })

      </script>

    </div>
	<div class="modal"></div>
  </body>
  
</html>